.panel {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
  border-radius: 0;
  border: 0;
  margin-bottom: 24px;
  .panel-heading, > :first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.panel-heading {
  position: relative;
  height: 50px;
  padding: 0;
  border-bottom: 1px solid #eee;
}

.panel-title {
  font-weight: normal;
  padding: 0 20px 0 20px;
  font-size: 1.416em;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.nano > .nano-pane {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.pad-all {
  padding: 15px;
}

.mar-btm {
  margin-bottom: 15px;
}

.media-block .media-left {
  display: block;
  float: left;
}

.img-sm {
  width: 46px;
  height: 46px;
}

.media-block {
  .media-body {
    display: block;
    overflow: hidden;
    width: auto;
  }
  .media-right {
    float: right;
  }
}

.pad-hor {
  padding-left: 15px;
  padding-right: 15px;
}

.speech {
  position: relative;
  background: #e5e5e5;
  color: #333;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 10px;
  .media-heading {
    color: #333;
    font-size: 1.2em;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 300;
  }
  .speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #e5e5e5;
    margin: 15px 0 0 -6px;
  }
}

.speech-right {
  text-align: right;
  > .speech {
    background: #2196F3;
    text-align: right;
    color: #fff;
    .media-heading{
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    &:before {
      left: auto;
      right: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 7px solid #2196F3;
      border-right: 0;
      margin: 15px -6px 0 0;
    }
  }
}


.pad-hor {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-primary {
  background-color: #579ddb;
  border-color: #5fa2dd;
  color: #fff !important;
  &:focus {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff !important;
  }
}

.btn-hover-primary {
  &:hover, &:active, &.active {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff !important;
  }
}

.btn.btn-active-primary {
  &:active, &.active {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff !important;
  }
}

.dropdown.open > .btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary {
  background-color: #579ddb;
  border-color: #5fa2dd;
  color: #fff !important;
}

.btn {
  cursor: pointer;
  /* background-color: transparent; */
  color: inherit;
  padding: 6px 12px;
  border: 1px solid 0;
  font-size: 11px;
  line-height: 1.42857;
  vertical-align: middle;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.form-control {
  font-size: 11px;
  height: 100%;
  box-shadow: none;
  border: 1px solid #e9e9e9;
  transition-duration: .5s;
}
