$mainBlue: #2196F3;

.nav {
  li > a:focus, li > a:hover {
    background-color: transparent;
  }
}
header {
  background: #ffffff;
  &.with-border {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
.navbar {
  margin-bottom: 5px;
  padding-top: 5px;
  .navbar-toggle{
    border-color: #757575;
    .icon-bar{
      background: #757575;
    }
  }
  .navbar-brand {
    &.logo {
      height: auto;
      padding: 5px 15px;
      width: 120px;
    }
  }
  .main-menu {
    .page-scroll {
      a {
        &:hover {
          background: transparent;
          color: $mainBlue;
        }
        .avatar{
          width: 30px;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
    .last {
      a {
        padding-right: 0px;
      }
    }
    .dropdown-hover{
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          &:hover {background-color: #f1f1f1}
        }
      }
      &:hover .dropdown-content {
        display: block;
      }
    }
  }
}
//  mobile
@media (max-width: 768px) {
  .navbar {
    .main-menu {
      .dropdown-hover{
        .dropdown-content {
          display: block;
          position: static;
          a {

          }
        }
      }
    }
  }
}
