//  begin body
.wrapper {
  .banner {
    position: relative;
    img.banner-bg {
      border-radius: 15px;
    }
    .cta-content {
      position: absolute;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.9);
      top: 15%;
      left: 50%;
      margin-left: -175px;
      .inner {
        padding: 25px 15px;
        .logo {
          padding-top: 20px;
          width: 140px;
        }
        h1 {
          font-size: 24px;
          margin: 30px auto;
        }
        .cta-btn {
          background: $mainBlue;
          color: #fff;
          padding: 10px;
          display: block;
          max-width: 65%;
          margin: auto;
          border-radius: 20px;
          margin-top: 20px;
          &:hover {
            background: #1E88E5;
          }
        }
      }
    }
  }
  .topics{
    margin-top:45px;
    h3{
      font-size:22px;
      margin-bottom:20px;
    }
    .topic-item{
      margin-bottom: 15px;
      .inner{
        display: block;
        position: relative;
        img{
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          border-radius:10px;
        }
        .label{
          position: absolute;
          width: 100%;
          top: 0px;
          left: 0px;
          height: 100%;
          background: rgba(0,0,0,.4);
          border-radius: 10px;
          padding-top: 15%;
          font-size:16px;
          span{
            display: block;
            margin-top: 10px;
            font-size: 14px;
            font-weight:normal;
          }
        }
      }
    }
  }
}
/**
  * responsive
 */
//  mobile
@media (max-width: 768px) {
  .wrapper {
    .banner {
      .cta-content {
        width: 180px;
        height: 180px;
        top: 1%;
        margin-left: -90px;
        .inner{
          .logo{
            padding-top: 5px;
            width: 90px;
          }
          h1{
            font-size: 15px;
            margin: 7px auto;
          }
          .cta-btn{
            font-size: 11px;
            padding: 5px;
            margin-top:13px;
          }
        }
      }
    }
    .topics{
      h3{
        font-size:18px;
      }
      .topic-item{
        .inner{
          .label{
            font-size:14px;
            span{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
//  tablet
@media (max-width: 970px) {

}
