//  begin body
.wrapper {
  .banner {
    position: relative;
    img.banner-bg {
      border-radius: 15px;
    }
    .cta-content {
      position: absolute;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.9);
      top: 15%;
      left: 50%;
      margin-left: -175px;
      .inner {
        padding: 25px 15px;
        .logo {
          padding-top: 20px;
          width: 140px;
        }
        h1 {
          font-size: 24px;
          margin: 30px auto;
        }
        .cta-btn {
          background: $mainBlue;
          color: #fff;
          padding: 10px;
          display: block;
          max-width: 65%;
          margin: auto;
          border-radius: 20px;
          margin-top: 20px;
          &:hover {
            background: #1E88E5;
          }
        }
      }
    }
  }
}
