.topic-label {
  margin-right: 10px;
  margin-bottom: 9px;
  background: #bdbdbd;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:15px;
  padding:7px 15px;
  font-size: 13px;
  color: #ffffff;
  &:hover {
    background: $mainBlue;
  }
}
.topic-selected {
  background: $mainBlue;
}