#loginDialog.login-modal.fade.modal(role='dialog', tabindex='-1')
  .modal-dialog
    .modal-content(role='document')
      .modal-header
        button.close(type='button', aria-label='Close', data-dismiss='modal')
          span(aria-hidden='true') x
        .text-center.modal-logo
          img(src='img/logo.png')
      .modal-body
        p
          | Đăng nhập vào Lunchify để kết nối với hàng trăm người có cùng sở thích xung quanh bạn
        .btn-login
          a.social-btn.fb-btn.text-center(href='/auth/facebook')
            img.hidden-xs.icon(src='img/icon/fb.png')
            // react-text: 16
            | Đăng nhập bằng Facebook
            // /react-text
      .modal-footer
        p
          | Khi click vào đăng nhập nghĩa là bạn đã đồng ý với các điều khoản và chình sách của Lunchify
        p Nếu bạn có câu hỏi, hãy tìm câu trả lời trong phần FAQ

#userModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.user-dialog(style='z-index: 9999;')
    .modal-content(role='document')
      .modal-header
        button.close(type="button" class="" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times
        img.avatar(src='')
      .modal-body.text-center
        h3.name
          a(href='#')
        p.topic-title Lĩnh vực quan tâm
        .list-tag
        .button-group.row
          .col-sm-12.btn-wrapper
            a.btn(href='#', onclick="invite(event)") Gửi lời mời

#demoUserModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog.user-dialog(style='z-index: 9999;')
    .modal-content(role='document')
      .modal-header
        button.close(type="button" class="" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times
        img.avatar(src='https://fb-s-d-a.akamaihd.net/h-ak-xft1/v/t1.0-1/p160x160/996693_2116007291873744_1764555311648855641_n.jpg?oh=846b9c00fc80808b6f505c685c84d8c1&oe=58B81462&__gda__=1489197048_f191b063da43b1f5d8118edcf45ed92e')
      .modal-body.text-center
        h3.name
          a(href='#') Vi Trần
        p.topic-title Lĩnh vực quan tâm
        .list-tag
          a.tag Phượt
          a.tag Du lịch
          a.tag Nodejs
          a.tag Bơi lội
          a.tag Ruby on rails
          a.tag Android
        .button-group.row
          .col-sm-12.btn-wrapper
            a#demoInvite.btn(href='#') Gửi lời mời
