hr(style="margin-top: 50px;")
.footer(style="text-align: center;")
  p
    | Copyright ©&nbsp;
    script.
      var d = new Date();
      document.write(d.getFullYear());
    | &nbsp;Lunchify all rights reserved
