head
  //- Behavioral Meta Data
  meta(charset='utf-8')
  meta(name='x-csrf-token', content=_csrf)
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  //- SEO Meta Data
  title Lunchify
  meta(name='author', content='')
  meta(name='description', content='')
  meta(name='keywords', content='')

  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all')
  link(rel='stylesheet', href='css/index.css')
