#globalLoading.load
  .dot
  .outline
    span
#afterLoading.after-load
  .inner
    .message Request sent successfully
      span Please wait for response
    a.confirm OK

#incomeCall.income-call
  .inner.text-center
    .avatar
      img.img-responsive(src="")
    .income-label
      strong
    .control
      a.btn.chat(href="/chat")
        i.ion-chatbox-working
        span Chat
      a.btn.call
        i.ion-android-call
        span Call
