#globalLoading.load
  .dot
  .outline
    span
#afterLoading.after-load
  .inner
    .message Gửi yêu cầu thành công.
      span Hãy chờ phản hồi từ Vi Trần
    a.confirm Đồng ý

#incomeCall.income-call
  .inner.text-center
    .avatar
      img.img-responsive(src="https://fb-s-d-a.akamaihd.net/h-ak-xft1/v/t1.0-1/p160x160/996693_2116007291873744_1764555311648855641_n.jpg?oh=846b9c00fc80808b6f505c685c84d8c1&oe=58B81462&__gda__=1489197048_f191b063da43b1f5d8118edcf45ed92e")
    .income-label
      strong Vi Trần đã đồng ý lời mời của bạn
    .control
      a.btn.chat(href="/chat")
        i.ion-chatbox-working
        span Chat nhanh
      a.btn.call
        i.ion-android-call
        span Gọi điện
