header
  nav.navbar
    .container
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#mainMenu")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.logo.navbar-brand(href="#")
          img.img-responsive(alt="Brand" src="img/logo.png")
      #mainMenu.main-menu.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.hidden.active
            a(href="#page-top")
          li.page-scroll.last
            a(href="#loginDialog", data-target='#loginDialog', data-toggle='modal') Đăng ký / đăng nhập
