extends ../layouts/layout
block content
  .container
    .row
      .col-xs-12
        .panel
          // Heading
          .panel-heading
            h3.panel-title Chat
          // Widget body
          #demoChatBody.collapse.in
            .nano.has-scrollbar(style='height:380px')
              .nano-content.pad-all(tabindex='0')
                ul.list-unstyled.media-block
              .nano-pane
                .nano-slider(style='height: 141px; transform: translate(0px, 0px);')
            // Widget footer
            .panel-footer
              .row
                .col-xs-9
                  input#chatInput.form-control.chat-input(type='text', placeholder='Enter your text')
                .col-xs-3
                  button.btn.btn-primary.btn-block(type='submit') Send

  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src="http://www.datejs.com/build/date.js")
  script(src='./js/socket.js')
