extends ../layouts/layout

block content
  .container
    .banner.text-center
      img.banner-bg.img-responsive(src="img/banner.jpg")
      .cta-content
        .inner
          img.logo(src="img/logo.png")
          h1 Connect those who have same interests
          a.cta-btn(href="/list-matching") Find out more
    .topics
      h3.text-center Most popular topics
      .row
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/startup.jpg")
            p.label.text-center Startup
              span 2332 people
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/book.jpg")
            p.label.text-center Book
              span 2012 people
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/cycling.jpg")
            p.label.text-center Cycling
              span 1728 people
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/food.jpg")
            p.label.text-center Cuisine
              span 1288 people
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/node.jpg")
            p.label.text-center Nodejs
              span 876 people
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/ruby.jpg")
            p.label.text-center Ruby on rails
              span 744 people
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/php.jpg")
            p.label.text-center PHP
              span 912 people
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/android.jpg")
            p.label.text-center Android
              span 663 people
