extends ../layouts/layout

block content
  .container
    .banner.text-center 
      img.banner-bg.img-responsive(src="img/banner.jpg")
      .cta-content
        .inner
          img.logo(src="img/logo.png")
          h1 Kết nối những người có chung sở thích
          a.cta-btn(href="#") Tìm hiểu thêm
