extends ../layouts/layout

block content
  .container
    .banner.text-center
      img.banner-bg.img-responsive(src="img/banner.jpg")
      .cta-content
        .inner
          img.logo(src="img/logo.png")
          h1 Kết nối những người có chung sở thích
          a.cta-btn(href="/list-matching") Tìm hiểu thêm
    .topics
      h3.text-center Chủ đề nhiều người tham gia
      .row
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/node.jpg")
            p.label.text-center Nodejs
              span 876 người
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/ruby.jpg")
            p.label.text-center Ruby on rails
              span 744 người
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/php.jpg")
            p.label.text-center PHP
              span 912 người
        .topic-item.col-xs-6.col-md-4
          a.inner
            img.img-responsive(src="img/photos/android.jpg")
            p.label.text-center Android
              span 663 người
