extends ../layouts/layout

block content
  .container
    .filter-bar
      .inner
        ul#listTag.list-tag.row
    #contentMatching.row.content-block
      .content.col-sm-12
        .inner
          ul#listMatching.list-item
            li.row.item.first
              .col-sm-12.item-info
                .mark-point
                  .title Khoảng cách
                  .line
            li.row.item
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line
                .row
                  .col-sm-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/10154258944779528/picture?width=100&height=100')
                  .info.col-sm-8.col-md-9.col-lg-10
                    strong.name Thảo Nguyễn
                    p.status Bàn về chính trị là đam mê của tui
              .action-btn.col-sm-3
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line
                .row
                  .col-sm-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/10200810826468752/picture?width=100&height=100')
                  .info.col-sm-8.col-md-9.col-lg-10
                    strong.name Thảo Nguyễn
                    p.status Bàn về chính trị là đam mê của tui
              .action-btn.col-sm-3
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item.last
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line
                .row
                  .col-sm-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/1153050578042470/picture?width=100&height=100')
                  .info.col-sm-8.col-md-9.col-lg-10
                    strong.name Thảo Nguyễn
                    p.status Bàn về chính trị là đam mê của tui
              .action-btn.col-sm-3
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
block scripts
  script.
    var userId = "#{user.id}";
    var $listTag = $("#listTag");
    $(document).ready(function(){
      //  add class to body and header
      $("body").addClass("grey");
      $("header").addClass("with-border");
      $(".tag").click(function(event){
        event.preventDefault();
        var _this = $(this);
        var content = _this.text();
        console.debug(content);
        if(_this.hasClass("disable")){
          _this.removeClass("disable");
          _this.find('a').empty().append(content + '<i class="ion-android-close"></i>')
        }else{
          _this.addClass("disable");
          _this.find('a').empty().append(content + '<i class="ion-checkmark-round"></i>')
        }
      });
    })
  include ../partials/matching/list-topics
  include ../partials/matching/list-matching
  include ../partials/matching/receive-message
