extends ../layouts/layout

block content
  .container
    .filter-bar
      .inner
        ul#listTag.list-tag.row
    #contentMatching.row.content-block
      .content.col-sm-12
        .inner
          h1 Người có cùng sở thích quanh bạn
          ul#listMatching.list-item
            li.row.item.first.hidden-xs
              .col-sm-12.item-info
                .mark-point
                  .title Khoảng cách
                  .line
            li.row.item
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line.hidden-xs
                .row
                  .col-xs-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/10154258944779528/picture?width=100&height=100')
                  .info.col-xs-8.col-md-9.col-lg-10
                    strong.name Thảo Nguyễn
                    p.status Bàn về chính trị là đam mê của tui
                    .row.mobile-control.visible-xs-block
                      .col-xs-6
                        a.btn.btn-block.btn-default(href="#") Xem thông tin
                      .col-xs-6
                        a.btn.btn-block.btn-primary(href="#") Gửi lời mời
              .action-btn.col-sm-3.hidden-xs
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line.hidden-xs
                .row
                  .col-xs-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://fb-s-d-a.akamaihd.net/h-ak-xft1/v/t1.0-1/p160x160/996693_2116007291873744_1764555311648855641_n.jpg?oh=846b9c00fc80808b6f505c685c84d8c1&oe=58B81462&__gda__=1489197048_f191b063da43b1f5d8118edcf45ed92e')
                  .info.col-xs-8.col-md-9.col-lg-10
                    strong.name Vi Trần
                    p.status Thích du lịch nước ngoài và phượt
                    .row.mobile-control.visible-xs-block
                      .col-xs-6
                        a#demoClick.btn.btn-block.btn-default(href="#") Xem thông tin
                      #demoStatus.col-xs-6
                        a.btn.btn-block.btn-primary(href="#") Gửi lời mời
              .action-btn.col-sm-3.hidden-xs
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item.last
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line.hidden-xs
                .row
                  .col-xs-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/1153050578042470/picture?width=100&height=100')
                  .info.col-xs-8.col-md-9.col-lg-10
                    strong.name Thạch Châu
                    p.status Thích những chủ đề liên quan đến di động
                    .row.mobile-control.visible-xs-block
                      .col-xs-6
                        a.btn.btn-block.btn-default(href="#") Xem thông tin
                      .col-xs-6
                        a.btn.btn-block.btn-primary(href="#") Gửi lời mời
              .action-btn.col-sm-3.hidden-xs
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item.last
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line.hidden-xs
                .row
                  .col-xs-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/517874045056039/picture?width=100&height=100')
                  .info.col-xs-8.col-md-9.col-lg-10
                    strong.name Nguyễn Hoàng
                    p.status Hứng thú với Design và công nghệ
                    .row.mobile-control.visible-xs-block
                      .col-xs-6
                        a.btn.btn-block.btn-default(href="#") Xem thông tin
                      .col-xs-6
                        a.btn.btn-block.btn-primary(href="#") Gửi lời mời
              .action-btn.col-sm-3.hidden-xs
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line.hidden-xs
                .row
                  .col-xs-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/10207528568070087/picture?width=100&height=100')
                  .info.col-xs-8.col-md-9.col-lg-10
                    strong.name Trần Nhân
                    p.status Tôi vẫn hay tìm tòi những kỹ thuật lập trình web mới
                    .row.mobile-control.visible-xs-block
                      .col-xs-6
                        a.btn.btn-block.btn-default(href="#") Xem thông tin
                      .col-xs-6
                        a.btn.btn-block.btn-primary(href="#") Gửi lời mời
              .action-btn.col-sm-3.hidden-xs
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line.hidden-xs
                .row
                  .col-xs-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/784698868307910/picture?width=100&height=100')
                  .info.col-xs-8.col-md-9.col-lg-10
                    strong.name Kiên Phan
                    p.status Nâng tầm người Việt là ước mơ của tôi
                    .row.mobile-control.visible-xs-block
                      .col-xs-6
                        a.btn.btn-block.btn-default(href="#") Xem thông tin
                      .col-xs-6
                        a.btn.btn-block.btn-primary(href="#") Gửi lời mời
              .action-btn.col-sm-3.hidden-xs
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item.last
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line.hidden-xs
                .row
                  .col-xs-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/1497081653930314/picture?width=100&height=100')
                  .info.col-xs-8.col-md-9.col-lg-10
                    strong.name Thạch Châu
                    p.status Thích những chủ đề liên quan đến di động
                    .row.mobile-control.visible-xs-block
                      .col-xs-6
                        a.btn.btn-block.btn-default(href="#") Xem thông tin
                      .col-xs-6
                        a.btn.btn-block.btn-primary(href="#") Gửi lời mời
              .action-btn.col-sm-3.hidden-xs
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
            li.row.item.last
              .col-sm-9.item-info
                .mark-point
                  .title
                    .point
                  .line.hidden-xs
                .row
                  .col-xs-4.col-md-3.col-lg-2
                    a.avatar(href='#')
                      img.img-responsive(src='https://graph.facebook.com/10207228277758068/picture?width=100&height=100')
                  .info.col-xs-8.col-md-9.col-lg-10
                    strong.name Nguyễn Hoàng
                    p.status Mang nông sản sạch đến cho mọi người là hoài bão của tôi
                    .row.mobile-control.visible-xs-block
                      .col-xs-6
                        a.btn.btn-block.btn-default(href="#") Xem thông tin
                      .col-xs-6
                        a.btn.btn-block.btn-primary(href="#") Gửi lời mời
              .action-btn.col-sm-3.hidden-xs
                .inner
                  a.btn.btn-primary.btn-block(href='#') Gửi lời mời
                  a.btn.btn-default.btn-block(href='#') Xem thông tin
block scripts
  script.
    var userId = "#{user.id}";
    var $listTag = $("#listTag");
    $(document).ready(function(){
      //  add class to body and header
      $("body").addClass("grey");
      $("header").addClass("with-border");
      $(".tag").click(function(event){
        event.preventDefault();
        var _this = $(this);
        var content = _this.text();
        console.debug(content);
        if(_this.hasClass("disable")){
          _this.removeClass("disable");
          _this.find('a').empty().append(content + '<i class="ion-android-close"></i>')
        }else{
          _this.addClass("disable");
          _this.find('a').empty().append(content + '<i class="ion-checkmark-round"></i>')
        }
      });
    })
  include ../partials/matching/list-topics
  include ../partials/matching/list-matching
  include ../partials/matching/receive-message
