extends ../layouts/layout

block content
  .container
    .row
      .col-md-12
        .login-block.text-center
          .block-header
            h1 Đăng ký / Đăng nhập
          .block-body
            p Đăng nhập vào Lunchify để kết nối với hàng trăm người có cùng sở thích xung quanh bạn
            .btn-login
              a.social-btn.fb-btn.text-center(href='/auth/facebook')
                img.icon(src='img/icon/fb.png')
                Đăng nhập bằng Facebook
          .block-footer
            p
              Khi click vào đăng nhập nghĩa là bạn đã đồng ý với các điều khoản và chình sách của Lunchify
            p Nếu bạn có câu hỏi, hãy tìm câu trả lời trong phần FAQ
