extends ../layouts/layout

block content
  .container
    .row
      .col-md-12
        .login-block.text-center
          .block-header
            h1 Signup / Login
          .block-body
            p Login to Lunchify to have lunch with those who have the same interests
            .btn-login
              a.social-btn.fb-btn.text-center(href='/auth/facebook')
                img.hidden-xs.icon(src='img/icon/fb.png')
                Login with Facebook
          .block-footer
            p
              Click this means you have agreed with all the specified terms
            p If you have any question, please have a look at Q and A site
