extends ../layouts/layout

block content
  .container
    .row
      .col-lg-12
        h1.page-header Select your favorite topics
  br
  .container
    #topics.flex-row.row
    a.btn.btn-default(href="/list-matching") Next

block scripts
  script.
    var user_id = #{user ? user.id : ""}

    function topicClicked(event) {
      var target = $(event.target)
      if (target.hasClass('topic-selected')) {
        target.removeClass('topic-selected')
        $.ajax({
          url: base_url + 'api/users/' + user_id + '/prefers',
          headers: {
            'X-Access-Token': $.cookie('access-token'),
          },
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify({
            type: 'topic',
            ref: target.attr('data-id')
          }),
          method: 'DELETE',
          success: function(response) {
            console.log(response)
          }
        })
      }
      else {
        $(event.target).addClass('topic-selected')
        $.ajax({
          url: base_url + 'api/users/' + user_id + '/prefers',
          headers: {
            'X-Access-Token': $.cookie('access-token'),
          },
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify({
            type: 'topic',
            ref: target.attr('data-id')
          }),
          method: 'POST',
          success: function(response) {
            console.log(response)
          }
        })
      }
    }

    $.ajax({
      url: base_url + 'api/fields',
      data: {
        'X-Access-Token': $.cookie('access_token'),
        'filter[include]': 'topics'
      },
      beforeSend: function() {
      },
      success: function(response) {
        $.each(response, function(key, value) {
          var field = value.name
          var topics = value.topics
          var divObj = document.createElement('div')
          $(divObj).append('<h3>' + field + '</h3>')
          $.each(topics, function(key, value) {
            $(divObj).append('<a onClick="topicClicked(event)" class="badge topic-label" data-id="' + value.id +'" + ">' + value.name + '</a>')
          })
          $('#topics').append($(divObj))
        })
      }
    })
