extends ../layouts/layout

block content
  .container
    .row
      .col-xs-12
        h1.page-header Select your favorite topics
  br
  .container
    #topics.flex-row.row
    hr
    a.btn.btn-primary(href="/list-matching") Next

block scripts
  script.
    var getSelectedTopicIds = function prefers(){
      var selectedTopicIds = []
      $.each(prefers, function(key, value) {
        selectedTopicIds.push(value.ref)
      });
      return selectedTopicIds;
    }

    var getPreferId =  function(prefers, topic_id){
      let result
      $.each(prefers, function(key, value) {
        console.log('VALUE.REF: ' + value.ref)
        if (value.ref == topic_id) {
          result = value.id
          return false
        }
      })
      return result;
    }

    var prefers = !{prefers}
    var topic_ids = getSelectedTopicIds(prefers)
    var user_id = #{user ? user.id : ""}


    function topicClicked(event) {
      var target = $(event.target)
      if (target.hasClass('topic-selected')) {
        target.removeClass('topic-selected')
        //- console.log(getPreferId(prefers, parseInt(target.attr('data-id'))))
        $.ajax({
          url: base_url + 'api/users/' + user_id + '/prefers/' + getPreferId(prefers, parseInt(target.attr('data-id'))),
          headers: {
            'X-Access-Token': $.cookie('access-token'),
          },
          contentType: 'application/json',
          method: 'DELETE',
          success: function(response) {
            console.log(response)
          },
        })
      }
      else {
        $(event.target).addClass('topic-selected')
        $.ajax({
          url: base_url + 'api/users/' + user_id + '/prefers',
          headers: {
            'X-Access-Token': $.cookie('access-token'),
          },
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify({
            type: 'topic',
            ref: target.attr('data-id')
          }),
          method: 'POST',
          success: function(response) {
            topic_ids.push(parseInt(target.attr('data-id')))
            prefers.push(response)
          },
          error: function(response) {
            console.log(response)
          }
        })
      }
    }

    $.ajax({
      url: base_url + 'api/fields',
      data: {
        'X-Access-Token': $.cookie('access_token'),
        'filter[include]': 'topics'
      },
      beforeSend: function() {
      },
      success: function(response) {
        $.each(response, function(key, value) {
          var field = value.name
          var topics = value.topics
          var divObj = document.createElement('div')
          $(divObj).addClass("col-xs-12").append('<h3>' + field + '</h3>')
          $.each(topics, function(key, value) {
            let is_selected = jQuery.inArray(value.id, topic_ids) !== -1 ? 'topic-selected' : ''
            $(divObj).append('<a onClick="topicClicked(event)" class="badge topic-label '
            + is_selected + '" data-id="' + value.id +'" + ">' + value.name + '</a>')
          })
          $('#topics').append($(divObj))
        })
      }
    })
