extends ../layouts/layout

block content
  .container
    .row
      .col-lg-12
        h1.page-header Select your favorite topics
  br
  .container
    #topics.flex-row.row

block scripts
  script.
    function topicClicked(event) {
      if ($(event.target).hasClass('topic-selected')) {
        $(event.target).removeClass('topic-selected')
      }
      else {
        $(event.target).addClass('topic-selected')
      }
    }
    $.ajax({
      url: base_url + 'api/fields',
      data: {
        'X-Access-Token': $.cookie('access_token'),
        'filter[include]': 'topics'
      },
      method: "GET",
      beforeSend: function() {
      },
      success: function(response) {
        $.each(response, function(key, value) {
          var field = value.name
          var topics = value.topics
          var divObj = document.createElement('div')
          $(divObj).append('<h3>' + field + '</h3>')
          $.each(topics, function(key, value) {
            $(divObj).append('<a onClick="topicClicked(event)" class="badge topic-label" data-id="' + value.id +'" + ">' + value.name + '</a>')
          })
          $('#topics').append($(divObj))
        })
      }
    })