script.
  var $loading = $("#globalLoading");
  var $listMatching = $("#listMatching");
  var sugRequest = userSuggestionUri.replace("{id}", userId);
  api(sugRequest, {
    data: {
      lat: userInfo.location.lat,
      lng: userInfo.location.lng
    },
    success: function (response) {
      /*
       * [
       {
       prefers: [
       {type: 'field', ref: 7, userId: 3, id: 13},
       ],
       userId: 2,
       location: {
       lat: 10.830795,
       long: 106.680532,
       }
       }
       ]
       * */
      return false;
      $listMatching.empty();
      for (var i = 0; i < 5; i++) {
        //  get each user detail
        api('/api/users/'+i+'/identities', {
          success: function (response) {
            //  append to list
            if(response.length > 0){
              var userProfile = response[0].profile,
                name = userProfile.name.familyName + " " +userProfile.name.givenName;
              if(response[0].userId != userInfo.id){
                var className = "row item";
                var itemHtml = '<li class="' + className + '"><div class="col-sm-9 item-info"><div class="row"><div class="col-xs-4 col-md-3"><a href="#" class="avatar"><img src="https://graph.facebook.com/' + userProfile.id + '/picture?width=100&amp;height=100" class="img-responsive"></a></div><div class="info col-xs-8 col-md-9"><strong class="name">' + name + '</strong><p class="status">Bàn về chính trị là đam mê của tui</p></div></div></div><div class="action-btn col-sm-3 col-md-3 col-xs-8 col-xs-offset-4 col-md-offset-0"><div class="inner"><a onClick="invite(event)" data-id="' + response[0].userId + '" href="#" class="btn btn-primary btn-block">Gửi lời mời</a><a onClick="viewDetail(event)"  data-id="' + response[0].userId + '" href="#" class="btn btn-default btn-block">Xem thông tin</a></div></div></li>';
                $listMatching.append(itemHtml);
              }
            }
          }
        }).get();
      }
    }
  }).get();

  function invite(event){
    event.preventDefault();
    var _this = $(event.target),
      userId = _this.attr("data-id");

    //  send invite
    api("/api/events", {
      data: JSON.stringify({
        from: userInfo.id,
        to: userId
      }),
      beforeSend: function(){
        $loading.show();
      },
      success: function(res){
        $("#afterLoading").fadeIn("slow");
        $loading.hide();
        _this.empty().append('<img src="img/icon/invite_loading.svg"/>');
        _this.css({"background": "transparent", "border":"0px"})
      }
    }).post()
  }

  function viewDetail(event){
    event.preventDefault();
    var _this = $(event.target),
      userId = _this.attr("data-id");

    //  get user detail
    api('/api/users/' + userId + '/identities', {
      success: function (response) {
        var userProfile = response[0].profile,
          name = userProfile.name.familyName + " " + userProfile.name.givenName;

        //  append avatar
        $("#userModal .avatar").attr("src", 'https://graph.facebook.com/' + userProfile.id + '/picture?width=100&amp;height=100');
        //  append name
        $("#userModal .name").empty().append(name);

        var $userTags = $("#userModal .list-tag").empty();
        var topicsRequest = userTopicsUri.replace("{id}", userId);

        //  request user topics
        api(topicsRequest, {
          success: function (response) {
            $userTags.empty();

            //  loop to append to filter and get topic detail
            for (var i = 0, l = response.length; i < l; i++) {

              //  create and append first
                let topicTag = $(document.createElement("a")).addClass("tag")
                  .attr("data-id", response[i].id)
                  .addClass('text-center');

              $userTags.append(topicTag);

              //  get topic detail
              var topicRequestUri = '/api/topics/' + response[i].ref;
              api(topicRequestUri, {
                beforeSend: function () {
                  topicTag.empty().append('<img src="img/icon/tag_loading.svg"/>');
                },
                success: function (response) {
                  topicTag.empty().append(response.name);
                }
              }).get();
            }
          }
        }).get();
        //  show modal
        $("#userModal").modal('show');
      }
    }).get();
  }

  //  close after loading
  $("#afterLoading .confirm").click(function (event) {
    event.preventDefault();
    $("#afterLoading").hide();
  })

  var $demoUserModal = $("#demoUserModal");
  var $demoClick = $("#demoClick");
  var $demoInvite = $("#demoInvite");
  $demoClick.click(function(event){
    event.preventDefault();
    $demoUserModal.modal('show');
  });
  $demoInvite.click(function (event) {
    event.preventDefault();
    //  show loading
    $loading.show();
    $demoUserModal.modal('hide');
    setTimeout(function(){
      $("#afterLoading").fadeIn("slow");
      $loading.hide();
    },2000)
  });
