doctype html
html(lang="en")
  include ../partials/head
  body
    include ../partials/prev-js
    include ../partials/navigation
    .wrapper
      block content
    include ../partials/footer
    include ../partials/dialogs
    include ../partials/loading
    block scripts
