$mainBlue: #2196F3;

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  &.grey{
    background: #f4f4f4;
  }
  a {
    color: #333;
    &:hover {
      text-decoration: none;
    }
  }
  .nav {
    li > a:focus, li > a:hover {
      background-color: transparent;
    }
  }
  header{
    background: #ffffff;
    &.with-border{
      -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
      -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    }
  }
  .navbar {
    margin-bottom: 5px;
    padding-top: 5px;
    .navbar-brand {
      &.logo {
        height: auto;
        padding: 5px 15px;
        width: 120px;
      }
    }
    .main-menu {
      .page-scroll {
        a {
          &:hover {
            background: transparent;
            color: $mainBlue;
          }
        }
      }
      .last {
        a {
          padding-right: 0px;
        }
      }
    }
  }
  //  begin body
  .wrapper {
    .banner {
      position: relative;
      img.banner-bg {
        border-radius: 15px;
      }
      .cta-content {
        position: absolute;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.9);
        top: 15%;
        left: 50%;
        margin-left: -175px;
        .inner {
          padding: 25px 15px;
          .logo {
            padding-top: 20px;
            width: 140px;
          }
          h1 {
            font-size: 24px;
            margin: 30px auto;
          }
          .cta-btn {
            background: $mainBlue;
            color: #fff;
            padding: 10px;
            display: block;
            max-width: 65%;
            margin: auto;
            border-radius: 20px;
            margin-top: 20px;
            &:hover {
              background: #1E88E5;
            }
          }
        }
      }
    }
    //  filter bar
    .filter-bar{
      margin-top: 15px;
      .inner{
        width:100%;
        min-height: 65px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
        padding:15px;
        ul{
          list-style-type: none;
          padding: 0px;
          margin:0px;
          li.tag{
            float: left;
            margin-right:10px;
            background: #e5e5e5;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:15px;
            a{
              padding:7px 15px;
              font-size: 13px;
              color: #ffffff;
              display: block;
            }
          }
        }
      }
    }
    //  content block
    .content-block{
      .content{
        background: #fff;
        .inner{
          padding: 15px;
        }
      }
    }
  }
  //  footer
  .page-footer {
    padding: 30px 15px;
  }
  //  modal
  .modal {

  }
  .login-modal {
    .modal-dialog {
      width: 500px;
      .modal-content {
        padding: 15px;
        .modal-header {
          border-bottom: 0px;
          .modal-logo {
            padding: 15px;
            img {
              max-width: 120px;
              margin: auto;
            }
          }
        }
        .modal-body {
          .btn-login {
            margin: 40px 0px;
            .social-btn {
              color: #fff;
              background: #e5e5e5;
              display: block;
              padding: 17px;
              border-radius: 10px;
              position: relative;
              .icon {
                position: absolute;
                left: 20px;
                top: 10px;
                width: 35px;
              }
              &.fb-btn {
                background: #3b5998;
              }
            }
          }
        }
        .modal-footer {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
